body {
    background-color: #fc702a;
    font-family: Sans-Serif;
    text-align: center;
    color: white;
}

p1 {
  width: 10%;
  background-color: #b75e16;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

p2 {
  width: 10%;
  background-color: #b75e16;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

button {
    width: 10%;
    background-color: #b75e16;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #ba8c03;
}

#temperature-reset {
  background-color: #e25518;
}
#temperature-reset:hover {
  background-color: green;
}

.low-usage {
  color: green;
}
.medium-usage {
  color: black;
}
.high-usage {
  color: red;
}
